In [97]:
import pandas as pd
df = pd.read_csv("mutant_moneyball.csv") # loading the dataset
df

,Member,TotalValue60s_heritage,TotalValue70s_heritage,TotalValue80s_heritage,TotalValue90s_heritage,TotalValue60s_ebay,TotalValue70s_ebay,TotalValue80s_ebay,TotalValue90s_ebay,TotalValue60s_wiz,TotalValue70s_wiz,TotalValue80s_wiz,TotalValue90s_wiz,TotalValue60s_oStreet,TotalValue70s_oStreet,TotalValue80s_oStreet,TotalValue90s_oStreet
0,warrenWorthington,929056.0,154585.0,23957.0,960.0,23335.0,3362.0,583.0,97.0,"$7,913.00","$1,105.00",$226.00,$65.75,"$68,160.00","$7,360.00",$975.00,$123.00
1,hankMcCoy,929776.0,20705.0,6631.0,881.0,23377.0,1224.0,289.0,82.0,"$7,953.00",$851.00,$89.00,$38.50,"$68,390.00","$5,260.00",$431.00,$81.00
2,scottSummers,933616.0,188635.0,29240.0,739.0,23420.0,5431.0,1031.0,82.0,"$7,993.00","$1,979.00",$438.00,$39.25,"$68,590.00","$11,675.00","$1,427.00",$74.00
3,bobbyDrake,929776.0,154585.0,1514.0,874.0,23377.0,3362.0,70.0,93.0,"$7,953.00","$1,105.00",$48.00,$62.00,"$68,390.00","$7,360.00",$137.00,$108.00
4,jeanGrey,933616.0,179899.0,16868.0,1708.0,23420.0,4903.0,665.0,170.0,"$7,993.00","$1,679.00",$165.00,$108.00,"$68,590.00","$10,265.00",$822.00,$189.00
5,alexSummers,34519.0,144946.0,9352.0,197.0,745.0,2703.0,581.0,21.0,$342.00,$597.00,$253.00,$19.00,"$1,850.00","$3,865.00",$502.00,$24.00
6,lornaDane,76279.0,144946.0,6602.0,731.0,1212.0,2703.0,405.0,41.0,$374.00,$597.00,$116.00,$43.00,"$2,000.00","$3,865.00",$293.00,$44.00
7,ororoMunroe,NaN,171050.0,54205.0,2183.0,NaN,4349.0,1730.0,334.0,NaN,"$1,224.00",$931.00,$158.00,NaN,"$6,890.00","$2,391.00",$273.00
8,kurtWagner,NaN,171050.0,50666.0,NaN,NaN,4349.0,1345.0,NaN,NaN,"$1,224.00",$736.00,NaN,NaN,"$6,890.00","$2,044.00",NaN
9,loganHowlett,NaN,171050.0,52524.0,1079.0,NaN,4349.0,1669.0,100.0,NaN,"$1,224.00",$908.00,$111.00,NaN,"$6,890.00","$2,310.00",$119.00
10,peterRasputin,NaN,171050.0,52575.0,1036.0,NaN,4349.0,1604.0,90.0,NaN,"$1,224.00",$875.00,$72.00,NaN,"$6,890.00","$2,284.00",$130.00
11,seanCassidy,39200.0,171962.0,7331.0,1562.0,910.0,4443.0,317.0,142.0,$347.00,"$1,304.00",$74.00,$119.00,"$2,140.00","$7,430.00",$236.00,$152.00
12,shiroYoshida,NaN,141872.0,143.0,73.0,NaN,2584.0,1.0,11.0,NaN,$466.00,$5.00,$8.00,NaN,"$3,085.00",$9.00,$12.00
13,johnProudstar,NaN,138380.0,NaN,NaN,NaN,2375.0,NaN,NaN,NaN,$410.00,NaN,NaN,NaN,"$2,925.00",NaN,NaN
14,kittyPryde,NaN,NaN,40655.0,NaN,NaN,NaN,963.0,NaN,NaN,NaN,$627.00,NaN,NaN,NaN,"$1,458.00",NaN
15,annaMarieLeBeau,NaN,NaN,10730.0,458.0,NaN,NaN,598.0,26.0,NaN,NaN,$498.00,$35.00,NaN,NaN,$832.00,$51.00
16,rachelSummers,NaN,NaN,16187.0,456.0,NaN,NaN,244.0,50.0,NaN,NaN,$184.00,$8.00,NaN,NaN,$401.00,$30.00
17,ericMagnus,582934.0,3479.0,16696.0,219.0,15957.0,231.0,207.0,15.0,"$4,180.00",$140.00,$209.00,$22.00,"$45,580.00",$870.00,$345.00,$22.00
18,alisonBlaire,NaN,NaN,7198.0,70.0,NaN,NaN,552.0,6.0,NaN,NaN,$286.00,$11.00,NaN,NaN,$567.00,$14.00
19,longshot,NaN,NaN,2893.0,NaN,NaN,NaN,344.0,NaN,NaN,NaN,$199.00,NaN,NaN,NaN,$307.00,NaN
20,jonathanSilvercloud,NaN,NaN,1670.0,2040.0,NaN,NaN,45.0,198.0,NaN,NaN,$56.00,$146.00,NaN,NaN,$91.00,$210.00
21,remyLeBeau,NaN,NaN,NaN,1519.0,NaN,NaN,NaN,255.0,NaN,NaN,NaN,$109.00,NaN,NaN,NaN,$188.00
22,jubilationLee,NaN,NaN,442.0,1150.0,NaN,NaN,116.0,101.0,NaN,NaN,$47.00,$112.00,NaN,NaN,$86.00,$126.00
23,lucasBishop,NaN,NaN,NaN,729.0,NaN,NaN,NaN,65.0,NaN,NaN,NaN,$36.00,NaN,NaN,NaN,$80.00
24,betsyBraddock,NaN,NaN,5573.0,1030.0,NaN,NaN,490.0,95.0,NaN,NaN,$316.00,$106.00,NaN,NaN,$468.00,$109.00
25,charlesXavier,819537.0,166297.0,42197.0,1068.0,21224.0,4415.0,1121.0,83.0,"$7,000.00","$1,453.00",$511.00,$66.00,"$63,095.00","$9,145.00","$1,673.00",$125.00

In [93]:
# Converting from wide to long format
df_melted = pd.melt(df,
                    id_vars=["Member"], # this is what we want to keep intact
                    value_vars=["TotalValue60s_heritage", "TotalValue70s_heritage", "TotalValue80s_heritage", "TotalValue90s_heritage", # these are the columns that we want to turn into rows
                                "TotalValue60s_ebay", "TotalValue70s_ebay", "TotalValue80s_ebay", "TotalValue90s_ebay",
                                "TotalValue60s_wiz", "TotalValue70s_ebay", "TotalValue80s_ebay", "TotalValue90s_ebay",
                                "TotalValue60s_oStreet", "TotalValue70s_oStreet", "TotalValue80s_oStreet", "TotalValue90s_oStreet"],
                    var_name="Decade_Source", # we are combining this in to one column - named Decade_Source
                    value_name="Value") # new column named value
df_melted

                Member           Decade_Source     Value
0    warrenWorthington  TotalValue60s_heritage  929056.0
1            hankMcCoy  TotalValue60s_heritage  929776.0
2         scottSummers  TotalValue60s_heritage  933616.0
3           bobbyDrake  TotalValue60s_heritage  929776.0
4             jeanGrey  TotalValue60s_heritage  933616.0
..                 ...                     ...       ...
333         remyLeBeau   TotalValue90s_oStreet  $188.00
334      jubilationLee   TotalValue90s_oStreet  $126.00
335        lucasBishop   TotalValue90s_oStreet   $80.00
336      betsyBraddock   TotalValue90s_oStreet  $109.00
337      charlesXavier   TotalValue90s_oStreet  $125.00

[338 rows x 3 columns]

In [94]:
# Even with the melt from above, the decade that the members were from is still connected to the source the valuation is coming from 
df_melted[["Decade", "Source"]] = df_melted["Decade_Source"].str.split("_", expand=True) # splits "TotalValue60s_heritage" at "_" into two parts
# splits into "TotalValue(decade)" and "source"
# expand = false because the "source" that comes after is a string
df_melted["Decade"] = df_melted["Decade"].str.replace("TotalValue", "") # This removed "TotalValue" from showing up in the "decade" column
# regex = false because it is a string we are getting rid of, but this is default so we don't have to include
df_melted = df_melted.drop(columns=["Decade_Source"]) # we can drop the old column
df_melted

                Member     Value Decade    Source
0    warrenWorthington  929056.0    60s  heritage
1            hankMcCoy  929776.0    60s  heritage
2         scottSummers  933616.0    60s  heritage
3           bobbyDrake  929776.0    60s  heritage
4             jeanGrey  933616.0    60s  heritage
..                 ...       ...    ...       ...
333         remyLeBeau  $188.00     90s   oStreet
334      jubilationLee  $126.00     90s   oStreet
335        lucasBishop   $80.00     90s   oStreet
336      betsyBraddock  $109.00     90s   oStreet
337      charlesXavier  $125.00     90s   oStreet

[338 rows x 4 columns]

In [99]:
# Fixing the "Value" column since it has entries with dollar signs and commas
df_melted["Value"] = df_melted["Value"].astype(str) # this makes sure that ALL values are converted to strings so taht the following changes can be applied to everything
# if we don't add the above, the "fixes" will cause only the values with "$" to be fixed and the rest will turn into "NaN" 
df_melted["Value"] = df_melted["Value"].str.replace("$", "") # this erases all of the dollar signs
df_melted["Value"] = df_melted["Value"].str.replace(",", "") # this erases all of the commas
df_melted["Value"] = pd.to_numeric(df_melted["Value"], errors="coerce") # this is extra - what this does is makes the decimal formatting of all the values the same
# if we don't add the above step, some values will have two decimal places and some will have one
df_melted

                Member     Value Decade    Source
0    warrenWorthington  929056.0    60s  heritage
1            hankMcCoy  929776.0    60s  heritage
2         scottSummers  933616.0    60s  heritage
3           bobbyDrake  929776.0    60s  heritage
4             jeanGrey  933616.0    60s  heritage
..                 ...       ...    ...       ...
333         remyLeBeau     188.0    90s   oStreet
334      jubilationLee     126.0    90s   oStreet
335        lucasBishop      80.0    90s   oStreet
336      betsyBraddock     109.0    90s   oStreet
337      charlesXavier     125.0    90s   oStreet

[338 rows x 4 columns]

In [ ]:
# Fixing the names of the "Members" since the first names are lowercase and the last names aren't separated
df_melted["Member"] = df_melted["Member"].str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True)
df_melted["Member"] = df_melted["Member"].str.title() # the str.title() capitalizes the first letter of each word
df_melted

                 Member     Value Decade    Source
0    Warren Worthington  929056.0    60s  heritage
1           Hank Mc Coy  929776.0    60s  heritage
2         Scott Summers  933616.0    60s  heritage
3           Bobby Drake  929776.0    60s  heritage
4             Jean Grey  933616.0    60s  heritage
..                  ...       ...    ...       ...
333        Remy Le Beau     188.0    90s   oStreet
334      Jubilation Lee     126.0    90s   oStreet
335        Lucas Bishop      80.0    90s   oStreet
336      Betsy Braddock     109.0    90s   oStreet
337      Charles Xavier     125.0    90s   oStreet

[338 rows x 4 columns]

In [ ]:
 # Fixing the "Member" column because the first names are lowercase and the last names aren't separated
#df[["First Name", "Last Name"]] = df["Member"].str.extract(r'([a-zA-Z]+)([A-Z][a-z]+)')
#df["First Name"] = df["First Name"].str.capitalize()
#df["Member"] = df["First Name"] + " " + df["Last Name"]
#df

,Member,TotalValue60s_heritage,TotalValue70s_heritage,TotalValue80s_heritage,TotalValue90s_heritage,TotalValue60s_ebay,TotalValue70s_ebay,TotalValue80s_ebay,TotalValue90s_ebay,TotalValue60s_wiz,TotalValue70s_wiz,TotalValue80s_wiz,TotalValue90s_wiz,TotalValue60s_oStreet,TotalValue70s_oStreet,TotalValue80s_oStreet,TotalValue90s_oStreet,First Name,Last Name
0,Warren Worthington,929056.0,154585.0,23957.0,960.0,23335.0,3362.0,583.0,97.0,"$7,913.00","$1,105.00",$226.00,$65.75,"$68,160.00","$7,360.00",$975.00,$123.00,Warren,Worthington
1,Hankmc Coy,929776.0,20705.0,6631.0,881.0,23377.0,1224.0,289.0,82.0,"$7,953.00",$851.00,$89.00,$38.50,"$68,390.00","$5,260.00",$431.00,$81.00,Hankmc,Coy
2,Scott Summers,933616.0,188635.0,29240.0,739.0,23420.0,5431.0,1031.0,82.0,"$7,993.00","$1,979.00",$438.00,$39.25,"$68,590.00","$11,675.00","$1,427.00",$74.00,Scott,Summers
3,Bobby Drake,929776.0,154585.0,1514.0,874.0,23377.0,3362.0,70.0,93.0,"$7,953.00","$1,105.00",$48.00,$62.00,"$68,390.00","$7,360.00",$137.00,$108.00,Bobby,Drake
4,Jean Grey,933616.0,179899.0,16868.0,1708.0,23420.0,4903.0,665.0,170.0,"$7,993.00","$1,679.00",$165.00,$108.00,"$68,590.00","$10,265.00",$822.00,$189.00,Jean,Grey
5,Alex Summers,34519.0,144946.0,9352.0,197.0,745.0,2703.0,581.0,21.0,$342.00,$597.00,$253.00,$19.00,"$1,850.00","$3,865.00",$502.00,$24.00,Alex,Summers
6,Lorna Dane,76279.0,144946.0,6602.0,731.0,1212.0,2703.0,405.0,41.0,$374.00,$597.00,$116.00,$43.00,"$2,000.00","$3,865.00",$293.00,$44.00,Lorna,Dane
7,Ororo Munroe,NaN,171050.0,54205.0,2183.0,NaN,4349.0,1730.0,334.0,NaN,"$1,224.00",$931.00,$158.00,NaN,"$6,890.00","$2,391.00",$273.00,Ororo,Munroe
8,Kurt Wagner,NaN,171050.0,50666.0,NaN,NaN,4349.0,1345.0,NaN,NaN,"$1,224.00",$736.00,NaN,NaN,"$6,890.00","$2,044.00",NaN,Kurt,Wagner
9,Logan Howlett,NaN,171050.0,52524.0,1079.0,NaN,4349.0,1669.0,100.0,NaN,"$1,224.00",$908.00,$111.00,NaN,"$6,890.00","$2,310.00",$119.00,Logan,Howlett
10,Peter Rasputin,NaN,171050.0,52575.0,1036.0,NaN,4349.0,1604.0,90.0,NaN,"$1,224.00",$875.00,$72.00,NaN,"$6,890.00","$2,284.00",$130.00,Peter,Rasputin
11,Sean Cassidy,39200.0,171962.0,7331.0,1562.0,910.0,4443.0,317.0,142.0,$347.00,"$1,304.00",$74.00,$119.00,"$2,140.00","$7,430.00",$236.00,$152.00,Sean,Cassidy
12,Shiro Yoshida,NaN,141872.0,143.0,73.0,NaN,2584.0,1.0,11.0,NaN,$466.00,$5.00,$8.00,NaN,"$3,085.00",$9.00,$12.00,Shiro,Yoshida
13,John Proudstar,NaN,138380.0,NaN,NaN,NaN,2375.0,NaN,NaN,NaN,$410.00,NaN,NaN,NaN,"$2,925.00",NaN,NaN,John,Proudstar
14,Kitty Pryde,NaN,NaN,40655.0,NaN,NaN,NaN,963.0,NaN,NaN,NaN,$627.00,NaN,NaN,NaN,"$1,458.00",NaN,Kitty,Pryde
15,Annamariele Beau,NaN,NaN,10730.0,458.0,NaN,NaN,598.0,26.0,NaN,NaN,$498.00,$35.00,NaN,NaN,$832.00,$51.00,Annamariele,Beau
16,Rachel Summers,NaN,NaN,16187.0,456.0,NaN,NaN,244.0,50.0,NaN,NaN,$184.00,$8.00,NaN,NaN,$401.00,$30.00,Rachel,Summers
17,Eric Magnus,582934.0,3479.0,16696.0,219.0,15957.0,231.0,207.0,15.0,"$4,180.00",$140.00,$209.00,$22.00,"$45,580.00",$870.00,$345.00,$22.00,Eric,Magnus
18,Alison Blaire,NaN,NaN,7198.0,70.0,NaN,NaN,552.0,6.0,NaN,NaN,$286.00,$11.00,NaN,NaN,$567.00,$14.00,Alison,Blaire
19,NaN,NaN,NaN,2893.0,NaN,NaN,NaN,344.0,NaN,NaN,NaN,$199.00,NaN,NaN,NaN,$307.00,NaN,NaN,NaN
20,Jonathan Silvercloud,NaN,NaN,1670.0,2040.0,NaN,NaN,45.0,198.0,NaN,NaN,$56.00,$146.00,NaN,NaN,$91.00,$210.00,Jonathan,Silvercloud
21,Remyle Beau,NaN,NaN,NaN,1519.0,NaN,NaN,NaN,255.0,NaN,NaN,NaN,$109.00,NaN,NaN,NaN,$188.00,Remyle,Beau
22,Jubilation Lee,NaN,NaN,442.0,1150.0,NaN,NaN,116.0,101.0,NaN,NaN,$47.00,$112.00,NaN,NaN,$86.00,$126.00,Jubilation,Lee
23,Lucas Bishop,NaN,NaN,NaN,729.0,NaN,NaN,NaN,65.0,NaN,NaN,NaN,$36.00,NaN,NaN,NaN,$80.00,Lucas,Bishop
24,Betsy Braddock,NaN,NaN,5573.0,1030.0,NaN,NaN,490.0,95.0,NaN,NaN,$316.00,$106.00,NaN,NaN,$468.00,$109.00,Betsy,Braddock
25,Charles Xavier,819537.0,166297.0,42197.0,1068.0,21224.0,4415.0,1121.0,83.0,"$7,000.00","$1,453.00",$511.00,$66.00,"$63,095.00","$9,145.00","$1,673.00",$125.00,Charles,Xavier